.products {
  margin-bottom: 60px;

  ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    @media (max-width: $vp-1200) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: $vp-max-mobile) {
      grid-template-columns: 1fr;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .products__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    @media (max-width: $vp-max-mobile) {
      flex-direction: column;
      align-items: center;
    }
  }

  li {
    padding: 0 15px;

    img {
      margin-bottom: 10px;
    }

    @media (max-width: $vp-max-mobile) {
      text-align: center;
    }

    img {
      @media (max-width: $vp-max-mobile) {
        margin: 0 auto 10px;
      }
    }
  }

  h3 {
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
  }

  span {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
}

.products__container {
  background-color: $white;
}

.products__selected-tab {
  background-color: transparent;
  color: $atomic;
  text-decoration: underline;
}
