.tabs {
  padding: 20px 0;
  font-family: $ff-pingfang;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
