.container {
  width: 100%;
  min-width: 320px;
  max-width: 1366px;
  margin: 0 auto;
  padding-left: 45px;
  padding-right: 45px;

  @include vp-767 {
    padding-left: 15px;
    padding-right: 15px;
  }
}
