// typography
$fz-default: 16px;
$ff-pingfang: "PingFang SC", "Arial", serif;

// colors
$white: #ffffff;
$black: #000000;
$lavender: #e7e6ea;
$twilight: #c6c4c5;
$atomic: #414a4f;
$wafer: #cdbcb2;
$cashmere: #c9ab91;
$linen: #f2ede8;

// viewports
$vp-max-mobile: 767px;
$vp-max-tablet: 1023px;
$vp-max-desktop: 1279px;
$vp-max-widescreen: 1439px;
$vp-320: 320px;
$vp-375: 375px;
$vp-768: 768px;
$vp-1024: 1024px;
$vp-1200: 1200px;
$vp-1280: 1280px;
$vp-1440: 1440px;
$vp-1920: 1920px;
